/*Иконки наша команда*/

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-color;
  }

  &:hover .icon,
  &:focus .icon {
    fill: $primary-white-color;
  }
}

.icon {
  fill: $customers-logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Иконки футер*/

.icon-footer {
  fill: $primary-white-color;
}

.social-item-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: $social-item-footer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
