html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  color: $primary-text-color;
  background-color: $primary-white-color;

  font-family: $font-1;
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  @media screen and (max-width: 767px) {
    width: 480px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  //margin-top: 0;
  //margin-bottom: 0;

  @media screen and (max-width: 767px) and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (max-width: 1199px) and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif;
    color: $title-text-color;
    text-align: center;
    line-height: 1.17;
    margin-bottom: 30px;
    margin-top: 0;
    @media screen and (min-width: $tablet) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }
}
