.criteria {
  &-list {
    @media screen and (max-width: 1199px) and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  &-item {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 1199px) and (min-width: $tablet) {
      width: calc((100% - 30px) / 2);
      margin-right: 30px;
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 30px * 3) / 4);
      margin-right: 30px;
      padding-bottom: 0px;
    }
    &:nth-child(2n) {
      @media screen and (max-width: 1199px) and (min-width: $tablet) {
        margin-right: 0;
      }
    }
    &:not(:last-child) {
      @media screen and (max-width: 1199px) {
        padding-bottom: 30px;
      }
      @media screen and (min-width: $desktop) {
        margin-right: 0px;
      }
    }
  }

  &-item::before {
    display: block;
    content: " ";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    background-color: $fon-color;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

$icons: "antenna", "clock", "diagram", "astronaut";

@each $iconName in $icons {
  .icon-#{$iconName}::before {
    background-image: url("../images/svg/#{$iconName}.svg");
  }
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.text {
  font-family: $font-1;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
